body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.aside {
    border: 1px solid black;
    height: 100%;
    width: 250px;
    padding: 20px;
    background-color: grey;
}

.aside div {
    border: 1px solid black;
    height: 60px;
    background-color: blue;
}

.nav {
    width: 95%;
    border: 1px solid black;
    height: 70px;
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    overflow-x: hidden;
}

.dh {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: grey;
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
}

.main {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div {
    width: 700px;
    height: 300px;
    border: 1px solid black;
    background-color: blueviolet;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
   background-color: grey;
   width: 100px;
   height: 40px;
}